#title {
  text-align: center;
}

#MEME {
  text-align: center;
}

img {
  width: 300
}

#red {
  color: red;
}

#green {
  color: orange;
}

#yellow {
  color: yellow
}

#orange {
  color: green
}

#black {
  color: blue
}
